@media screen and (max-width: 1400px) {
  .ia-products:nth-child(odd) {
    margin-left: 100px;
  }
  #firstPromo #firstPromoImg img {
    width: 70%;
  }
  .textPromo {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1125px) {
  .products-1 {
    overflow-x: hidden;
  }
  .cards {
    width: 250px;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 20px;
  }
  .ia-aside {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1025px) {
  #main-nav {
    padding: 10px 50px;
  }
  .ia-cards {
    padding-left: 0px;
  }
  .ia-cards .cards .price-samsung h3 {
    margin-top: 52px;
  }
  .ia-cards #samsung-phone img {
    width: 80%;
    margin-bottom: 25px;
    transform: translateX(10%);
  }
  .samsung-phone h2 {
    padding: 3px 0px;
  }
  .products-1 .cards h2 {
    font-size: 1.3rem;
  }
  .products-1 .cards .price {
    width: 170px;
  }
  .products-1 .cards .price h3 {
    font-size: 1.4rem;
  }
  .products-1 .cards .info {
    width: 250px;
  }
  .products-1 .cards #samsung-laptop img {
    transform: translateX(7%);
  }
  .products-1 .cards #lenovo img {
    width: 60% !important;
    margin: 20px 0px;
    transform: translateX(30%);
  }
  .products-1 .ia-phone-iphone img {
    width: 50%;
    transform: translateX(50%);
  }
  .product-img-sams img {
    width: 65%;
  }
  .product-price-iphone {
    transform: translateX(0%);
  }
  .dell-monitor img {
    width: 60%;
  }
  .ia-author #circle {
    right: 80px;
    bottom: 0px;
    width: 60px;
    height: 60px;
  }
  .ia-author p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  #main-nav #hamb {
    display: block;
  }
  .ia-author #circle {
    right: 55px;
  }
  .ia-aside {
    margin-left: 20px;
  }
  .ia-products:nth-child(odd) {
    margin-left: 50px;
  }
  #product #imgProduct {
    width: 350px;
  }
  #product #productInfo table td {
    font-size: 1.1rem;
  }
  #product .productPrice {
    align-items: center;
  }
  #product .productPrice #productCart {
    border: 1px solid #BC0A0A;
    padding: 15px 15px;
    cursor: pointer;
  }
  #product .productPrice svg {
    font-size: 2.5rem;
  }
  #product .productPrice span {
    font-size: 1.5rem;
  }
  #product .productPrice .price {
    padding: 20px 20px;
  }
  #product .productPrice .price h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 769px) {
  #nav-button {
    display: flex;
    justify-content: flex-end;
  }
  #nav-button button {
    background-color: red;
    padding: 4px 8px;
  }
  #order {
    width: 90%;
  }
  #order #nameOrder, #order #lastaNameOrder, #order #phoneOrder, #order #addressOrder, #order #cityOrder, #order #zipCodeOrder {
    margin: 0px;
  }
  #order input[type=text] {
    width: 250px;
  }
  #slider {
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  #slider .slick-prev, #slider .slick-next, #slider .slick-dots {
    display: none !important;
  }
  #main-nav #ia-hamburger-menu {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  #main-nav #ia-hamburger-menu .navbar-toggler-icon {
    background-color: white;
    width: 25px;
    margin: 3px 0px;
    height: 3px;
  }
  .ia-cards, .products-1 {
    margin: 0px !important;
  }
  .ia-cards .cards, .products-1 .cards {
    margin: 10px auto !important;
  }
  .ia-cards .cards h2, .products-1 .cards h2 {
    font-size: 1.3rem;
  }
  .ia-cards .cards .price, .products-1 .cards .price {
    width: 170px;
  }
  .ia-cards .cards .price h3, .products-1 .cards .price h3 {
    font-size: 1.3rem;
  }
  .ia-cards .cards .info, .products-1 .cards .info {
    width: 250px;
  }
  .ia-cards .cards .info img, .products-1 .cards .info img {
    margin-top: 10px !important;
  }
  .ia-cards .cards .price-samsung h3, .products-1 .cards .price-samsung h3 {
    margin-top: 30px;
  }
  .ia-form {
    padding-right: 0px !important;
    padding-left: 35px !important;
  }
  /*Laptop Page*/
  aside {
    position: absolute;
    left: -100%;
    z-index: 1;
  }
  aside #sort {
    display: none;
  }
  aside #asideClose {
    display: block;
  }
  aside #ia-btn-form {
    transform: translateX(20%);
  }
  .ia-aside {
    margin-left: 0px !important;
  }
  .ia-aside #hambAside {
    display: flex !important;
  }
  .ia-aside #hambAside #sortHamb select {
    background-color: transparent;
    border: none;
    color: #fff;
    height: -moz-fit-content;
    height: fit-content;
  }
  .ia-aside #hambAside #sortHamb select::after {
    content: "";
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
  .ia-aside #hambAside #sortHamb select option {
    background-color: gray;
  }
  .ia-products {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .ia-products:nth-child(odd) {
    margin-left: 0px;
  }
  .products-1 .row {
    justify-content: center;
    margin-top: 50px;
  }
  .products-1 .cards {
    margin-top: 50px;
  }
  .products-1 .cards h2 {
    font-size: 1.1rem;
  }
  .products-1 .cards .price {
    width: 150px;
  }
  .products-1 .cards .price h3 {
    font-size: 1.1rem;
    margin-top: 30px;
  }
  .products-1 .cards .info {
    width: 200px;
  }
  .products-1 .cards .info svg {
    font-size: 2.05rem;
    margin-top: 10px;
  }
  .products-1 .ia-ml-mr {
    margin-left: 90px;
    margin-right: 40px;
  }
  .products-1 .ia-mt {
    margin-top: 50px;
  }
  .products-1 .ia-predator-mon h2 {
    margin: 25px auto;
  }
  .products-1 .ia-dell img {
    transform: translateX(40%) !important;
    width: 65% !important;
    margin: 0px !important;
  }
  .about-product table tr td {
    font-size: 1.1rem;
  }
  .product-price p {
    width: 140px;
    height: 40px;
    font-size: 1.3rem;
  }
  .about-product-lenovo {
    transform: translateX(20%);
  }
  .product-price-lenovo {
    transform: translateX(-25%);
  }
  .product-price-lenovo input[type=submit] {
    width: 140px;
  }
  .product-price-lenovo p {
    font-size: 1.1rem;
  }
  .product-img-sams img {
    width: 65%;
  }
  .about-product-samsung {
    transform: translateX(20%);
  }
  .product-price-samsung {
    transform: translateX(-30px);
  }
  .product-price-samsung input[type=number] {
    display: block !important;
  }
  .product-price-samsung input[type=submit] {
    width: 140px;
  }
  .product-price-iphone p {
    font-size: 1rem;
  }
  .product-price-iphone input[type=submit] {
    width: 140px;
  }
  .predator-price p {
    width: 160px;
    font-size: 1.2rem;
  }
  .about-product-dell {
    transform: translateX(20%);
  }
  .product-price-dell p {
    font-size: 1.15rem;
  }
  .product-price-dell input[type=submit] {
    width: 140px;
  }
  .ia-author p {
    font-size: 1.2rem;
  }
  .ia-author svg {
    font-size: 1.3rem;
  }
  .ia-author #circle {
    margin-top: 15px;
    width: 70px;
    height: 70px;
  }
  .ia-author-img img {
    width: 40%;
  }
  footer form #submit {
    transform: translateX(140%);
    margin-top: 15px;
    margin-bottom: 35px;
  }
  #product .ia-product-info {
    flex-direction: column;
  }
  #product table {
    margin-bottom: 25px;
  }
  #product .productPrice {
    flex-direction: column-reverse;
  }
  #product .productPrice .price {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 576px) {
  #pre-header-info svg {
    margin: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
  }
  #pre-header-info ul {
    justify-content: center;
    padding-left: 0px;
  }
  #pre-header-info li a {
    font-size: 0.9rem !important;
  }
  #pre-header-links {
    justify-content: center !important;
  }
  #pre-header-links svg {
    margin-bottom: 15px;
    font-size: 1rem;
  }
  #slider .slick-list {
    border-radius: 20px;
  }
  #order {
    transform: translate(-50%, -15px);
    height: 85vh;
  }
  #order .ia-row {
    flex-direction: column;
    align-items: center;
  }
  #order #infoUl {
    flex-direction: column;
    align-items: center;
  }
  #order #infoUl div {
    margin-right: 0px;
  }
  #order #infoUl div:last-child {
    margin-right: 0px;
  }
  #order input[type=button] {
    width: 110px;
  }
}
@media screen and (max-width: 426px) {
  #main-nav h1 a {
    font-size: 2rem;
  }
  #main-nav #ia-hamburger-menu {
    padding: 5px 8px;
  }
  #main-nav #ia-hamburger-menu .navbar-toggler-icon {
    width: 20px;
    height: 2px;
    margin: 2px 0px;
  }
  #main-nav .ia-links-nav {
    font-size: 0.9rem;
  }
  .ia-cards .cards h2, .products-1 .cards h2 {
    font-size: 1.1rem;
  }
  .ia-cards .cards .price, .products-1 .cards .price {
    width: 150px;
  }
  .ia-cards .cards .price h3, .products-1 .cards .price h3 {
    font-size: 1.1rem;
    padding: 0px;
  }
  .ia-cards .cards .info, .products-1 .cards .info {
    width: 200px;
  }
  .ia-cards .cards .info svg, .products-1 .cards .info svg {
    margin-top: 20px;
  }
  .ia-cards .cards img, .products-1 .cards img {
    width: 140%;
  }
  .ia-cards .cards #monitor, .products-1 .cards #monitor {
    transform: translateX(8%);
  }
  .ia-cards .cards #img-phone img, .products-1 .cards #img-phone img {
    width: 50%;
    transform: translateX(50%);
  }
  .ia-cards .cards #lenovo img, .products-1 .cards #lenovo img {
    width: 60% !important;
    transform: translateX(30%);
  }
  .ia-cards .cards #dell-monitor img, .products-1 .cards #dell-monitor img {
    width: 50%;
    transform: translateX(60%);
  }
  .ia-cards .cards #samsung-phone img, .products-1 .cards #samsung-phone img {
    width: 70% !important;
    transform: translateX(20%);
  }
  .ia-cards .cards .price-samsung h3, .products-1 .cards .price-samsung h3 {
    margin-top: 15px;
  }
  .ia-form {
    padding-left: 0px !important;
  }
  .ia-form label {
    font-size: 0.8rem;
  }
  .ia-form input[type=submit] {
    padding: 5px 15px;
    margin-bottom: 50px;
    margin-top: 10px;
    transform: translateX(160%);
  }
  .ia-form h3 {
    font-size: 1.2rem;
  }
  #wtime p {
    font-size: 1.1rem;
  }
  .ia-wtime h3 {
    font-size: 1.2rem;
  }
  footer a {
    font-size: 1.1rem;
  }
  #footer-end a {
    font-size: 0.8rem;
  }
  .footer-products {
    margin-top: 50px !important;
  }
  /*aside page*/
  .ia-aside aside .ia-form-filter {
    padding-top: 5px !important;
  }
  .ia-aside aside .ia-aside p, .ia-aside aside .ia-aside label {
    font-size: 0.8rem;
  }
  .ia-aside aside #ia-btn-form {
    width: 70px;
    font-size: 0.8rem;
    transform: translateX(10%);
  }
  .ia-aside aside .ia-collapse p {
    margin-top: 15px !important;
    text-align: center;
    width: 50px;
  }
  .ia-aside aside .ia-collapse p, .ia-aside aside .ia-collapse label {
    font-size: 0.7rem;
  }
  .ia-aside aside .ia-form-filter {
    margin-left: 0px !important;
  }
  .ia-aside aside .ia-filter-icon {
    width: 40px;
    height: 30px;
  }
  .products-1 {
    position: static;
  }
  .products-1 .imgProduct {
    display: flex;
    justify-content: center;
  }
  .products-1 .ia-ml-mr {
    margin-top: 20px !important;
  }
  .products-1 .cards {
    /*
    #lenovo {
        img {
            width: 50% !important;
            transform: translateX(50%);
        }
    }
    */
  }
  .products-1 .cards .price {
    height: 40px;
  }
  .products-1 .cards .price h3 {
    font-size: 1.2rem;
    transform: translateY(10px);
  }
  .products-1 .cards .info {
    width: 170px;
  }
  .products-1 .cards .info img {
    width: 27%;
    margin-top: 20px !important;
  }
  .products-1 .ia-mt {
    margin-top: 50px;
  }
  .products-1 .ia-mt:first-child {
    margin-top: 100px;
  }
  .products-1 .ia-ml-mr {
    margin-right: 0px;
  }
  .products-1 .ia-dell img {
    margin-top: 10px !important;
    transform: translateX(55%) !important;
  }
  .products-1 .ia-predator-mon img {
    margin-top: 10px;
    transform: translateX(0%) !important;
  }
  .products-1 .ia-predator-mon h2 {
    margin: 15px auto;
  }
  .products-1 .ia-phone-iphone img {
    transform: translateX(70%);
    width: 40%;
  }
  .products-1 #lenovoLaptop img {
    transform: translateX(0%);
    margin: 17px 0px;
  }
  .product-img, .about-product, .product-price {
    margin-top: 25px;
  }
  .info-specifications h2 {
    font-size: 1.2rem;
    width: 50%;
    margin: 0px auto;
  }
  .about-product table {
    transform: translateX(-20%);
  }
  .product-price {
    margin-top: 45px;
  }
  .product-price p {
    font-size: 1.2rem;
    width: 145px;
  }
  .product-price input[type=number] {
    display: block;
    margin-top: 15px;
    margin-left: 0px;
  }
  .product-footer {
    margin-top: 100px;
  }
  .about-product-lenovo {
    transform: translateX(-7%);
  }
  .product-price-lenovo {
    transform: translateX(5%);
  }
  .product-price-iphone input[type=submit] {
    font-size: 0.8rem;
  }
  .product-price-iphone p {
    font-size: 1rem;
  }
  .predator-price p {
    font-size: 1rem;
  }
  .predator-price input[type=submit] {
    width: 145px;
    font-size: 1rem;
  }
  .predator-price input[type=number] {
    margin-left: 45px;
  }
  .about-predator {
    transform: translateX(-30%);
  }
  .about-predator table tr td {
    font-size: 0.9rem;
  }
  .about-product-dell {
    transform: translateX(-25%);
  }
  .about-product-dell table tr td {
    font-size: 0.9rem;
  }
  .product-price-dell p {
    font-size: 1rem;
  }
  .ia-author p {
    font-size: 0.9rem;
  }
  .ia-author svg {
    font-size: 1rem;
  }
  .ia-author #circle {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    right: 7%;
  }
  .ia-author-img img {
    width: 40%;
  }
}
@media screen and (max-width: 376px) {
  #pre-header-links svg {
    font-size: 0.85rem;
  }
  #pre-header-info {
    padding: 0px;
  }
  #pre-header-info ul {
    justify-content: center;
    padding-left: 0px;
  }
  #pre-header-info li a {
    font-size: 0.8rem !important;
  }
  #main-nav #nav-button button {
    background-color: red;
    padding: 1px 3px;
  }
  /*
   .ia-cards{
       .cards {
           h2 {
               font-size: 1rem;
           }
       }

   }
  */
  .ia-form input[type=text], .ia-form input[type=email] {
    width: 250px;
  }
  .ia-form textarea {
    width: 250px;
  }
  .ia-form input[type=submit] {
    transform: translateX(150%);
    padding: 3px 10px;
    font-size: 0.8rem;
  }
  #wtime p {
    font-size: 1rem;
  }
  .ia-wtime h3 {
    font-size: 1.1rem;
  }
  footer a {
    font-size: 1rem;
  }
  footer form #submit {
    transform: translateX(90%);
  }
  #footer-end a {
    font-size: 0.7rem;
  }
  .footer-products {
    margin-top: 0px !important;
  }
  .footer-products .ia-mt-footer {
    margin-top: 0px !important;
  }
  /*
      .products-1 {
          .cards{
               width: 150px;
               height: 220px;

              h2 {
                  font-size: 0.7rem;
              }
              .price {
                  width: 100px;
                  h3 {
                      font-size: 0.8rem;
                  }
              }
              .info {
                  width: 120px;
              }
          #samsung-laptop{
              img {
                  transform: translateX(5%);
              }
          }

          }
      }
      */
  .about-product table {
    transform: translateX(-30%);
  }
  .about-product table tr td {
    font-size: 0.85rem;
  }
  .product-price p {
    font-size: 1rem;
    width: 115px;
  }
  .product-price input[type=submit] {
    width: 115px;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
  }
  .about-product-samsung {
    transform: translateX(2%);
  }
  .product-price-samsung input[type=submit], .product-price-samsung p {
    font-size: 0.8rem;
    width: 100px;
  }
  .product-price-iphone {
    transform: translateX(0%);
  }
  .product-price-iphone input[type=submit] {
    font-size: 0.8rem;
    width: 100px;
    display: flex;
  }
  .product-price-iphone p {
    width: 100px;
    font-size: 0.8rem !important;
  }
  .predator-price p {
    font-size: 0.9rem;
  }
  .predator-price input[type=submit] {
    font-size: 0.8rem;
    display: flex;
  }
  .predator-price input[type=number] {
    margin-left: 30px;
  }
  .about-predator {
    transform: translateX(-10%);
  }
  .about-product-dell {
    transform: translateX(-10%);
  }
  .product-price-dell input[type=submit] {
    display: flex;
    font-size: 0.8rem;
  }
  .product-price-dell p {
    font-size: 0.9rem;
  }
  .ia-author p {
    font-size: 0.8rem;
  }
  .ia-author svg {
    font-size: 1rem;
  }
  .ia-author #circle {
    margin-top: 15px;
    width: 50px;
    height: 50px;
  }
  .ia-author-img img {
    width: 50%;
  }
}/*# sourceMappingURL=responsive.css.map */